<h1>Edit Current Note</h1>

<%= render 'form', note: @note %>
<table>
<tr>
<td><%= button_to 'Show', @note, class:"btn btn-info", method: :get %></td>
<td><%= button_to 'Back', notes_path, class:"btn btn-danger", method: :get %></td>
</tr>
</table>
